*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: ;
    --body-font: "Times New Roman";    
}

body {
    font-family: var(--body-font):
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    left: 150px;
    width: 500px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff 

}

article {
    /* position: relative; */
    width: 10rem;
    background-color: var(--secondary-color);
    text-align: center
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid var(--accent2-color);

}