*{
    margin: 0;
    padding: */
    box-sizing: border-box;
}


:root {
    --padding: 1rem;
    --height: auto;
    --box-shadow: 0 0 30px gray;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: darkblue;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 20rem;
    background-color: rgb(147, 201, 252);
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 130px;
}
aside img {
    width: 200px;
    height: auto;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid rgba(2, 2, 18, 0.2);
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* css class selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / .2);
    background-color: rgb(92, 162, 248);
    color: rgb(3, 25, 50)
}