* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 20px 0px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #eac0a6;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

u1 {
    margin: 10px;
}

footer {
    font-size: ;
}

<!--end of code-->